* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    background-color: #ffddb4;
}
header, main {
    background-color: #ffddb4;
    margin-left: 100px;
}
.container-one {
    display: flex;
    flex-direction: row;
}
 .wrapper-one span{
    margin-top: 100px;
    font-size: 25px;
 }
.wrapper-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 100%;
}
.wrapper-two h1 {
    max-width: 38%;
    color: black;
    font-weight: 800;
    font-size: 30px;
    padding: 8px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
}
.wrapper-two h2 {
    width: 18%;
    color: black;
    font-weight: 800;
    font-size: 33px;
    padding: 3px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
}
.mini-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}
.mini-wrapper img {
    border-radius: 45%;
}
.container-two {
    margin-top: 20px;

}
.wrapper-three form label {
    font-size: 27px;
    padding-bottom: 25%;
    margin-bottom: 10%;
    font-weight: 400;
}
.wrapper-three form input {
    height:10%;
    padding: 15px;
    margin:10px 0px;
    border-radius: 10px;
    width: 40%;
}
.wrapper-four form {
    margin-top: 15px;
}
.wrapper-four button {
    padding:7px;
    border-radius: 3px;
    background-color: rgb(77, 77, 152);
}
.wrapper-four button a {
    text-decoration: none;
    color: white;
}
footer {
    background-color: #ffb98e;
}
.wrapper-five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 5px;
}
.column-one {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 25px;
}
.column-one h1, .column-one p {
    color: white;
    font-size: 20px;
    font-weight: 400;
} 
.column-one span {
    margin-right: 15px;
}
.svg-row {
    display: flex;
    flex-direction: row;
}
.svg-row img {
    border-radius: 10px;
    margin-left: 7px;
    margin-bottom: 10px;
}
.column-two {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 40px;
}
.column-two p, .column-two a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
.column-two h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 8px;
    color: #fff;
}
.column-three {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
}
.column-three p, .column-three a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
}