/* Copy from  here to  add header to  your  pages */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Slab&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color:#fff;
  margin: 0;
  padding:0 4rem;

}

main {
  background-color: white;
}
h1,h2,h3,h4,h5,h6 {
 font-family: 'Roboto Slab', serif;   
}
nav{
display: grid;
grid-template-columns: repeat(5, auto);
font-weight: 700;
background-color: #0A66C2;
padding: .5rem 0;
color: #fff;
margin: 0;
}

.logopack
{
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: 'logopack';
}

.logo{
    width:6rem;
    margin:0 ;
    background: none;
    padding: 0;
}

.globalnav {
    margin: auto 2rem auto 0;
}
nav a {
    margin: auto;
    cursor: pointer;
    width: 80px;
    padding:.5rem;
    text-align: center;
    text-decoration: none;
  
  font-size: .9em;
color: white;


}
/* 
width: 100%;
height: 4rem;
background: #7AADF8; */

nav a:hover, .active{
background-color: aliceblue;
color: steelblue;

}


.sign {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 6rem;
}

.sign-up {
  border:1px solid #EA4335;
  text-align: center;padding:.1rem 0;
  font-size: .9rem;
  text-decoration: none;
  

}
.sign-up1 {
  border:1px solid #EA4335;
  text-align: center;padding:.1rem 0;
  font-size: .9rem;
  margin-left: 1rem;
  margin-right: 0;

}

/* Stop here for navbar */

#container{
    text-align: center;
    padding: 0 10rem;
    box-shadow: 0 2px 5px grey;
    margin-top: 0;
}

#unauth{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 27px;
    width: 752px;
    height: 100px;
    
}

h1{
    text-transform: uppercase;
    color: black;
    border: 50px;
    border-radius: 15px;
    padding: 0;
}

h2{

    margin-top: 20px;
    padding: 15px;
    border: 50px;
    border-radius: 15px;
    font-size: 30px;
}

.grid_container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
}

.grid_container1{
    text-align: left;
    grid-column: 1 /2;
    grid-row: 1 /2;
}

.grid_container2{
    text-align: left;
    grid-column: 1 /2;
    grid-row: 2 /3;
}

.grid_container3{
    grid-column: 2 /3;
    grid-row: 2 /3;
}

.grid_container i{
    margin-top:20px;
}

#map{
    padding: 0;
}

#phone{
    padding: 0;
}

.social_icon{
    margin-top: 35px;
    padding: 30px;
}

#facebook{
    color: blue;
    padding: 10px;
    font-size: 3rem;
}

#twitter{
   color: skyblue;
   padding: 10px;
    font-size: 3rem;

}

#youtube{
    color: red;
    padding: 10px;
    font-size: 3rem;

}
.btn{
    margin: 50px;
    width: 185px;
    height: 73px;
    background-color: #304f7c;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid aliceblue;
}

.btn:hover {
    background-color:  #04214d;
}
.btn:visited{
    background-color: cornflowerblue;
}


/* Start here for footer */
footer {
  margin-top: 0;
   background-color: #0A66C2;
   padding: 1rem .5rem;
   color: white;

}
.footercontainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}
.socialflex {
  display: grid;
  margin-right: 1rem;


}

.socials {
  margin-right: 2rem;
  width: 15%;
display: grid;
grid-template-columns: repeat(3,auto);

}
.contact  h3 {
  font-size: .9rem;
  
}

footer a {
  text-decoration: none;
  color: white;

}
.socials img {
  width: 1.5rem;
  border-radius: 0;

}

.socialflex h2 {
  margin: 0 auto;
  background-color: transparent;
}
.contact {
  text-align: left;padding-left: 1rem;
}

/* End Here */