* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    background-color: #ffddb4;
    margin-left: 70px;
}
.container-one {
    display: flex;
    flex-direction: row;
}
 .wrapper-one span{
    margin-top: 100px;
    font-size: 25px;
 }
.wrapper-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 100%;
}
.wrapper-two h1 {
    max-width: 38%;
    color: black;
    font-weight: 800;
    font-size: 30px;
    padding: 8px;
    text-align: center;
    background-color: #a4bff1;
    border: 2px solid #a4bff1;
    border-radius: 10px;
}
.wrapper-two h2 {
    max-width: 18%;
    color: black;
    font-weight: 800;
    font-size: 33px;
    padding: 3px;
    text-align: center;
    background-color: #a4bff1;
    border: 2px solid #a4bff1;
    border-radius: 10px;
}
.mini-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}
.mini-wrapper img {
    border-radius: 45%;
}
.container-two {
    margin-top: 20px;

}
.wrapper-three form label {
    font-size: 27px;
    padding-bottom: 25%;
    margin-bottom: 10%;
    font-weight: 400;
}
.wrapper-three form input {
    height:10%;
    padding: 15px;
    margin:10px 0px;
    border-radius: 10px;
    width: 40%;
}
.wrapper-four form {
    margin-top: 15px;
}
.wrapper-four button {
    padding:7px;
    border-radius: 3px;
    background-color: rgb(77, 77, 152);
}
.wrapper-four button a {
    text-decoration: none;
    color: white;
}