body {
  background-color: white;
  margin: 10px;
}

.box {
  display: flex;
  width: 95%;
}

.contentbox1 {
  float: left;
}

.contentbox2 {
  float: left;
  margin: 0 auto;
}

img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

h2 {
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.check {
  margin: 0 auto;
  text-align: center;
  color: #3bcc2f;
  font-size: 80px;
}

p {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
