{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="headersection">
        <h1 class="header">
            GLOBAL ALUMNI FOUNDATION
        </h1>
        <h2>About Global Alumni Foundation</h2>
    </div>
    <!-- Header ends -->
    
    <!-- contents -->
    <div class="containerfluid">
        <div class="maincontent">
            <div class="maintext">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur laudantium nam similique minima aliquam
                veritatis deleniti commodi ratione provident itaque alias iste, repellat iure repudiandae corrupti ducimus
                numquam perferendis dolorem, quia nobis, neque a dolorum molestiae ab. Voluptas, accusamus! Beatae?
            </div>
    
            <div id="div">
                <div class="desc-1">
                    <div class="text">
    
                        <p> Alumni donations are used specifically to help current students. These alumni-funded
                            scholarships help
                            more students get access to a high-quality education. Unique and meaningful programs.</p>
    
                        <a class="readmore" href="./about.html"> Read More</a>
                    </div>
                    <img src="./images/aboutdonation.png" alt="About donation">
                </div>
                <hr>
    
                <div class="purpose">
                    <h2>
                        Purpose Of Global Alumni Foundation
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut odio accusantium quibusdam cupiditate
                        excepturi.
                        Facilis optio quos blanditiis maiores temporibus corporis error. Error, perspiciatis atque expedita
                        nihil ea
                        magni quisquam?
                    </p>
                </div>
                <div class="sub-div">
                    <div class="aim">
                        <h3>VISION</h3>
                        <p>To make Global Alumni Foundation the go to platform of the 21st century that connects Alumni to
                            their
                            university and fellow graduate.</p>
                    </div>
    
                    <div class="aim">
                        <h3>MISSION</h3>
                        <p>To provide a secure way to raise funds for colleges and universities as well as to connect past
                            Alumni to
                            their institution.</p>
                    </div>
                    <div class="aim">
                        <h3>OBJECTIVE</h3>
                        <p>Help colleges and university to raise funds to improve the school.</p>
                        <p>Provide scholarship to needy students so they do not drop out of school.</p>
                    </div>
                </div>
                <div class="comment">keep in touch with all the happenings and latest information on Global Alumni
                    Foundation by
                    subscribing to our <span><a class="newsletter" href="."> Newsletter</a></span></div>
            </div>
            <div class="team">
                <div class="teamates">
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack"</b> </p>
                    </div>
    
                    <div class="members">
                        <img src="./images/favouragbo.jpg" alt="">
                        <p><b>Favour Agbo<br> "Product Design" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/ashmiu Zainab.jpg" alt="">
                        <p><b>Ashimiu Zainab<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/adeyemoinioluwa.jpg" alt="">
                        <p><b>Adeyemo Inioluwa</b> <br> "Frontend" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/maduezimsomto.jpeg" alt="">
                        <p><b>Maduemezim Somto<br> "FullStack"</b> </p>
                    </div>
    
                    <div class="members">
                        <img src="./images/umorenvictor.jpg" alt="">
                        <p><b>Victor Umoren<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo</b> <br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack"</b> </p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo</b> <br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack"</b> </p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo<br> "FullStack" </b></p>
                    </div>
    
                    <div class="members">
                        <img src="./images/profile.jpg" alt="">
                        <p><b>Chiamaka Okonkwo</b> <br> "FullStack" </b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    