{% extends 'base.html' %}


{% block content %}
    <div id="container">
        <div id="unaut">
            <h1>Global Alumni Foundation</h1>
        </div>
        <div id="unaut_p">
            <h2>Contact Us</h2>
        </div>
        <div class="grid_container">
            <div class="grid_container1">
                <i class="fa fa-map-marker" id="map"> 50, Old Wellington Road, Lagos.</i>
            </div>
            <div class="grid_container2">
                <i class="fa fa-phone" id="phone"> +2348139453368</i>
            </div>
            <div class="grid_container3">
                <a href="index.html" target="_blank"><input type="button" value="Back" class="btn"></a>
            </div>
        </div>
        <div class="social_icon">
            <i class="fa fa-facebook-square" id="facebook"></i>
            <i class="fa fa-twitter-square" id="twitter"></i>
            <i class="fa fa-youtube-play" id="youtube"></i>
        </div>
    </div>
{% endblock content %}
    