{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alumni donation</title>

        <link rel="stylesheet" href="{% static 'css/index.css' %}">


    </head>

    <body>
        <main>
            {% include 'navbar.html' %}
            
            {% block content %}
                
            {% endblock content %}
        </main>
        <!-- footer starts -->
        {% include 'footer.html' %}
        <!-- footer container ends  -->
    </body>

</html>