{% load static %}
<footer class="footer">
    <div class="socialflex">
        <div class="socials">
            <img src="{% static 'font/icons/facebook.png' %}" alt="">
            <img src="{% static 'font/icons/twitter.png' %}" alt="">
            <img src="{% static 'font/icons/youtube (4).png' %}" alt="">
        </div>
        <h2>About the site</h2>
    </div>


    <div class="footercontainer">
        <!-- first grid -->
        <div class="contact">
            <h3>Global Alumni Foundation</h3>
            <div class="nbsp">
                <div class="flex"><i class="fa-solid fa-location-dot"></i></span class='nbsp3'> <small>
                        50, Old Welligton Rd. Lagos, Nigeria.
                    </small></div>
                <div class="flex">
                    <i class="fa-solid fa-phone"></i><a href="tel:+234903344296"> +234903344296</a>
                </div>
                <div class="flex"><i class="fa-solid fa-map-location-dot"></i></span class='nbsp3'><small> Site Map
                    </small>
                </div>
            </div>
        </div>
        <!-- 2nd grid  -->
        <div class="aboutus">
            <div><a href="#">About Us</a></div>
            <div><a href="#">Policies</a></div>
            <div><a href="#">Accessibility</a></div>
            <div><a href="#">Options</a></div>
            <div><a href="#">Privacy Us</a></div>
            <div><a href="#">Terms of use</a></div>
        </div>

        <!-- last grid  -->
        <div class="last">

            <div><a href="#">Career</a></div>
            <div><a href="#">Volunteer</a></div>
            <div><a href="#">Publications</a></div>
            <div><a href="#">Subscribe</a></div>
            <div><a href="#">Directory</a></div>



        </div>
    </div>
</footer>